<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
<p><% form_tag :action => :oauth, :method => :get do |f| -%>
  push push !!<%= submit_tag '認証する' %>
<% end -%>
<a href="/oauth">OAuthで認証</a>
</p>

